
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body{
  background-color: #09090b;
  color: white;
  
}
@theme{
  --color-primary:#F84565;
   --color-primary-dull:#D63854;
}
.header{
  background-image: url('./assets/backgroundImage.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.no-scrollbar{
  scrollbar-width: none;
}

@media (max-width<650px) {
  
  
}


*{
    font-family:"Outfit",sans-serif;
    scrollbar-width:thin;
    scroll-behavior: smooth;
    scrollbar-color: #787777 #1e1e1e;
  
   
}

